<nav class="secondary-nav text-emerald-900">
  <ul>
    <li>
      <a href="documents/resume.pdf" target="_blank" rel="noopener noreferrer"
        >Resume</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/anastasiabigun"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
    </li>
    <li>
      <a
        href="mailto:nastia.bigun@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        >Email</a
      >
    </li>
  </ul>
</nav>
