@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display--font-variation-settings: "opsz" 32;
}

@layer base {
  :root {
    --project-h1: var(--color-slate-800);
    --project-h2: var(--color-slate-800);
    --project-h3: var(--color-slate-800);
  }

  .theme-emerald {
    --project-h1: var(--color-emerald-900);
    --project-h2: var(--color-emerald-800);
    --project-h3: var(--color-emerald-900);
  }

  .theme-purple {
    --project-h1: var(--color-purple-900);
    --project-h2: var(--color-purple-800);
    --project-h3: var(--color-purple-900);
  }

  .theme-blue {
    --project-h1: var(--color-blue-900);
    --project-h2: var(--color-blue-800);
    --project-h3: var(--color-blue-900);
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold m-10;
    color: var(--project-h1);
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold;
    color: var(--project-h2);
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold pt-4;
    color: var(--project-h3);
  }

  h4 {
    @apply text-lg md:text-xl font-medium;
  }

  h5 {
    @apply text-base font-semibold text-slate-800;
  }

  p {
    @apply text-base font-light text-slate-600 leading-relaxed;
  }
}
